@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --main-color: #005eda;
    --second-color: #003780;
}

section{
    padding: 50px 10%;
}

*::selection{
    color: #fff;
    background: var(--main-color);
}

/* ====== Estilização Header ====== */
img{
    width: 100%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 45px;
}

.navbar{
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}

.navbar a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
/* ====== Fim Estilização Header ====== */

main {
    margin-top: 100px;
    padding: 20px; /* Importante */
    padding-bottom: 20px; /* Espaço vazio para evitar que o footer sobreponha o conteúdo */
}

article {
    max-width: 800px; /* Importante */
    margin: 0 auto; /* Importante */
    line-height: 1.6;
}

article h1 {
    font-size: 28px;
}



/* ====== Estilização Section Contact ====== */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social a{
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx{
    padding: 5px;
    color: #fff;
    background: #000;
    border-radius: 50%;
}

.social a .bx:hover{
    background: var(--main-color);
}

.links{
    margin: 1rem 0 1rem;
}

.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}

.contact p{
    text-align: center;
}
/* ====== Fim Estilização Section Contact ====== */


/* ====== Responsividade ====== */
@media (max-width: 1150px){
    header{
        padding: 18px 7%;
    }

    section{
        padding: 50px 7%;
    }

    .home-text h1{
        font-size: 3rem;
    }

    .home-text h2{
        font-size: 1.5rem;
    }
}

@media (max-width: 991px){
    header{
        padding: 18px 4%;
    }

    section{
        padding: 50px 4%;
    }
}

@media (max-width: 768px){
    header{
        padding: 11px 4%;
    }

    #menu-icon{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;
    }

    .navbar.active{
        top: 100%;
    }

    .navbar a{
        padding: 1.5rem;
        display: block;
        color: var(--second-color);
    }

    .home-text span{
        font-size: 0.9rem;
    }

    .home-text h1{
        font-size: 2.4rem;
    }

    .home-text h2{
        font-size: 1.2rem;
    }
}

@media (max-width: 768px){
    .home-text{
        padding-top: inherit;
    }

    .shop-container .box{
        margin-top: 6rem;
    }

    .heading h1{
        font-size: 1.5rem;
    }

    .heading span{
        font-size: 0.9rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    .links{
        display: flex;
        flex-direction: column;
    }
}